#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.ant-layout {
  min-height: 100vh;
}
.ant-menu.ant-menu-light {
  min-height: 100%;
}

.ant-layout-header .trigger.anticon {
  font-size: 18px;
  margin-left: 20px;
}
.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.centered p {
  margin-bottom: 5px;
}
.table-info span {
  margin: 0 5px;
}
.centered .status {
  text-align: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  left: 0px;
}
.centered .status.danger {
  background: #ff6161;
}
.centered .status.warning {
  background: #ffde4d;
}
.centered .status.success {
  background: #61ff7b;
}
/* .square {
  border: 1px solid black;
  height: 90px;
  width: 90px;
  line-height: 90px;
  text-align: center;
  border-radius: 8px;
  vertical-align: middle;
}

.square.pick {
  background: #33ec7a;
} */

/* Dashboard */
.dashboard .ant-card {
  border-radius: 10px;
  margin-bottom: 1em;
}
.dashboard .short {
  color: #fff;
}
.statistic {
  margin-top: 2em;
  padding: 1em 2em;
  border-color: #e8e8e8;
  border-radius: 10px;
}
.statistic .title {
  font-size: 20px;
  font-weight: bold;
}

.loading-area {
  width: 100%;
  padding: 2em;
  font-size: 20px;
  text-align: center;
}
